html {
    height: 100%;
}
body{
    font: 100% "Trebuchet MS", sans-serif;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 60px;
    background: #FFE680;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
    width: 100%;
    padding: 0 0 0px;
    position: relative;
}
.middle:after {
    display: table;
    clear: both;
    content: '';
}
.container {
    width: 100%;
    float: left;
    overflow: hidden;
}
.content {
    padding: 0 470px 0 0;
}

/* Roda pé
-----------------------------------------------------------------------------*/
div.rodape {
   position: absolute;
    top:580px;
   margin: 20px 20px 20px 20px;
    /*min-width: 00px;
    max-width: 1400px;*/
    height: 60px;
    background: #FFFFFF;
    width: auto;
}

/***********************JQUERY UI ****************************/
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}

/********************************** Styling the Button ***************************************************/
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format('eot'), 
  	   url("../fonts/fontawesome-webfont.woff") format('woff'), 
  	   url("../fonts/fontawesome-webfont.ttf") format('truetype'), 
  	   url("../fonts/fontawesome-webfont.svg#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}
.onoff {
	font-family: "FontAwesome";
	text-shadow: 0px 1px 1px rgba(250,250,250,0.1);
	font-size: 32pt;
	display: block;
	position: relative;
	text-decoration: none;
    box-shadow: 0px 3px 0px 0px rgb(34,34,34),
    			0px 7px 10px 0px rgb(17,17,17),
    			inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
    			inset 0px -12px 35px 0px rgba(0, 0, 0, .5);
	width: 100px;
	height: 70px;
	border: 0;
	color: rgb(37,37,37);
	border-radius: 35px;
	text-align: center;
	line-height: 79px;
	background-color: rgb(83,87,93);

	transition: color 350ms ease, text-shadow 350ms;
		-o-transition: color 350ms ease, text-shadow 350ms;
		-moz-transition: color 350ms ease, text-shadow 350ms;
		-webkit-transition: color 350ms ease, text-shadow 350ms;
}

.onoff:before {
	content: "";
	width: 00px;
	height: 00px;
	display: block;
	z-index: -2;
	position: absolute;
	background-color: rgb(26,27,29);
	left: -5px;
	top: -2px;
	border-radius: 40px;
	box-shadow: 0px 1px 0px 0px rgba(250,0,250,0.1), 
			 	inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}
.onoff:active {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),
    			0px 3px 7px 0px rgb(17,17,17),
    			inset 0px 1px 1px 0px rgba(250, 250, 250, .2), 
    			inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
    background-color: rgb(83,87,93);
  	top: 3px;
}
.onoff.on {
    box-shadow: 0px 0px 0px 0px rgb(34,34,34),
    			0px 3px 7px 0px rgb(17,17,17), 
    			inset 0px 1px 1px 0px rgba(250, 0, 250, .2), 
    			inset 0px -10px 35px 5px rgba(0, 0, 0, .5);
    background-color: rgb(83,87,93);
  	top: 3px;
 	color: #fff;
  	text-shadow: 0px 0px 3px rgb(250,250,250);
}
.onoff:active:before, .onoff.on:before {
	top: -5px;
	background-color: rgb(26,27,29);
	box-shadow: 0px 1px 0px 0px rgba(250,250,250,0.1), 
			 	inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}


/* Styling the Indicator light */
.onoff + span {
	display: block;
	width: 8px;
	height: 8px;
	background-color: rgb(226,0,0);
	box-shadow: inset 0px 1px 0px 0px rgba(250,255,250,0.5),
				0px 0px 3px 2px rgba(226,0,0,0.5);
 	border-radius: 4px;
 	clear: both;
 	position: absolute;
 	bottom: 0;
 	left: 42%;
 	transition: background-color 350ms, box-shadow 700ms;
	-o-transition: background-color 350ms, box-shadow 700ms;
	-moz-transition: background-color 350ms, box-shadow 700ms;
	-webkit-transition: background-color 350ms, box-shadow 700ms;
}
a.onoff + span {
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5),
				0px 0px 3px 2px rgba(135,187,83,0.5);
	background-color: rgb(135,187,83);
}

/************************** Configuração dos planos das imagens do Layout da Maquina*********************************************/
table {
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
}
.img-hor {          /*Espelha horizontalmente uma imagem*/
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
#background{        /*Imagem de fundo da Maquina*/
   left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 1;
}
#plano1{
    position: absolute;
    left: 5px;
    bottom: 5px;
    z-index: 1;
}
#plano2{ /*FIXO corpo da planadora images/maq-aplan-esq-tampa-fechada.png*/
    position: absolute;
    left: 335px;
    bottom: 135px;
    z-index: 2;
}
#plano3{ /*FIXO Martelo prensa images/maq-prs-martelo.png*/
    position: absolute;
    left: 692px;
    bottom: 225px;
    z-index: 2;
}
#plano4{ /*FIXO corpo da prensa images/maq-prs-corpo.png*/
    position: absolute;
    left: 650px;
    bottom: 6px;
    z-index: 2;
}
#plano5{ /*Liga/desliga Desbobinador*/
    position: absolute;
    left: 5px;
    bottom: 260px;
    z-index: 3;
    opacity: 0.8;
}
#plano5:hover { /*Muda opacity da imagem com esse #ID*/
    opacity: 1;
   /* border-radius: 18px;
    box-shadow: 2px 2px #FB771E;*/
}
#plano6{  /*Avança e recua chapa no alimentador*/
    position: absolute;
    left: 324px;
    bottom: 250px;
    z-index: 4;
    opacity: 0.8;
}
#plano6:hover { /*Muda opacity da imagem com esse #ID*/
    opacity: 1;
}
#plano6B{  /*Avança e recua chapa no alimentador*/
    position: absolute;
    left: 460px;
    bottom: 250px;
    z-index: 4;
    opacity: 0.8;
}
#plano6B:hover { /*Muda opacity da imagem com esse #ID*/
    opacity: 1;
}
#plano7{  /*Sobe a tampa da Aplanadora*/
    position: absolute;
    left: 520px;
    bottom: 130px;
    z-index: 5;
    opacity: 0.8;
}
#plano7:hover { /*Muda opacity da imagem com esse #ID*/
    opacity: 1;
}
#plano8{  /*Descer a tampa da Aplanadora*/
    position: absolute;
    left: 520px;
    bottom: 50px;
    z-index: 5;
    opacity: 0.8;
}
#plano8:hover { /*Muda opacity da imagem com esse #ID*/
    opacity: 1;
}
#plano9{  /*Prensa Funcionando*/
    position: absolute;
    left: 705px;
    bottom: 275px;
    z-index: 5;
    opacity: 0.8;
}
#plano9:hover { /*Muda opacity da imagem com esse #ID*/
    opacity: 1;
}

/****** BOTÕES DA PAGINA PRINCIPAL ************/
#botoesGrandes{
    padding-top:20px; 
    padding-bottom:20px; 
    font-size:1.4em;
}

#botoesGrandes button{
    width:280px;
    padding-top:10px; 
    padding-bottom:10px;
}